<section class="drawSection">

    <div class="colorOptions">
      <label for="colorPicker">Pick Color</label>
      <input class="colorPicker" type="color" value="#005500">
    </div>

    <div class="canvasContainer">
      <canvas id="myCanvas" width="700" height="500"></canvas>
    </div>

    <div class="optionsContainer">
      <div class="option">
        <label for="sizeRadius">Pick Radius</label>
        <input class="sizeRadius" type="number" value="15">
        <button class="characterDraw"> Draw Character </button>
      </div>

      <div class="option">
        <label for="sizeWidth">Pick Width</label>
        <input class="sizeWidth" type="number" value="140">
        <label for="sizeHeight">Pick Height</label>
        <input class="sizeHeight" type="number" value="100">
        <button class="objectDraw"> Draw Objects </button>
      </div>
    </div>

  </section>
