<section class="drawSection">
    <div class="canvasNames">
      <label for="backgroundName">Background Name: </label>
      <input ng-model="draw.backgroundName" placeholder="Background Name">
      <label for="sceneName">Scene Name: </label>
      <input ng-model="draw.sceneName" placeholder="Scene Name">
    </div>
    <div class="leftOptions">
      <div class="option">
        <label for="colorPicker">Pick Color</label>
        <input ng-model="draw.currentColor" class="colorPicker" type="color">
      </div>

      <div class="option">
        <button class="clearCanvas">Clear Canvas</button>
      </div>

      <div class="option">
        <button class="saveScene">Save Scene</button>
      </div>

      <div class="option">
        <button class="publishScene">Publish Scene</button>
      </div>

      <div class="option">
        <button class="saveBackground">Save Background</button>
      </div>

      <div class="option">
        <button class="publishBackground">Publish Background</button>
      </div>
    </div>

    <div class="canvasContainer">
      <canvas id="myCanvas" width="700" height="500"></canvas>
    </div>

    <div class="rightOptions">
      <div class="option">
        <label for="widthRange">Pick Width: {{draw.widthRangeBackground}}</label>
        <input ng-model="draw.widthRangeBackground" type="range" class="widthRangeBackground" min="3" max="700">
        <label for="heightRange">Pick Height: {{draw.heightRangeBackground}}</label>
        <input ng-model="draw.heightRangeBackground" type="range" class="heightRangeBackground" min="3" max="500">
        <button class="backgroundDraw"> Draw Background </button>
      </div>

      <div class="option">
        <label for="widthRange">Pick Width: {{draw.widthRangeObstacle}}</label>
        <input ng-model="draw.widthRangeObstacle" type="range" class="widthRangeObstacle" min="3" max="700">
        <label for="heightRange">Pick Height: {{draw.heightRangeObstacle}}</label>
        <input ng-model="draw.heightRangeObstacle" type="range" class="heightRangeObstacle" min="3" max="500">
        <button class="objectDraw"> Draw Obstacles </button>
      </div>

      <div class="option">
        <label for="speedRange">Pick Speed: {{draw.speedRange}}</label>
        <input ng-model="draw.speedRange" type="range" class="speedRange" min="3" max="20">
        <label for="radiusRange">Pick Radius: {{draw.radiusRange}}</label>
        <input ng-model="draw.radiusRange" type="range" class="radiusRange" min="3" max="20">
        <button class="characterDraw"> Draw Character </button>
      </div>
    </div>

  </section>
