<section class="scenesBackgroundsSection">

  <div class="scenesBackgrounds">
    <div class="userContainer">
      <div class="sceneControlButtons">
        <button class="deleteUserBackgroundsBtn" ng-click="scenes.deleteUserBackgrounds()">Delete Your Backgrounds</button>
        <button class="deleteUserScenesBtn" ng-click="scenes.deleteUserScenes()">Delete Your Scenes</button>
      </div>

      <div class="userScenesBackgrounds">
        <div class="userBackgrounds">
          <h1>Your Backgrounds</h1>
          <ul>
            <li class="backgroundOption" ng-cloak ng-click="scenes.selectBackground(background)" ng-repeat="background in scenes.userBackgrounds">
              <p ng-cloak>Name: {{background.name}}</p>
              <img ng-cloak src="{{background.thumbnail}}">
            </li>
          </ul>
        </div>

        <div class="userScenes">
          <h1>Your Scenes</h1>
          <ul>
            <li class="sceneOption" ng-cloak ng-click="scenes.selectScene(scene)" ng-repeat="scene in scenes.userScenes">
              <p ng-cloak>Name: {{scene.name}}</p>
              <img ng-cloak src="{{scene.thumbnail}}">
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="publicContainer">
      <div class="publicControlButtons">
        <button class="refreshBackgroundsBtn" ng-click="scenes.refreshBackgrounds()">Refresh Public Backgrounds</button>
        <button class="refreshScenesBtn" ng-click="scenes.refreshScenes()">Refresh Public Scenes</button>
      </div>

      <div class="publicScenesBackgrounds">
        <div class="publicBackgrounds">
          <h1>All Backgrounds</h1>
          <ul>
            <li class="backgroundOption" ng-cloak ng-click="scenes.selectBackground(background)" ng-repeat="background in scenes.publicBackgrounds">
              <p ng-cloak>Name: {{background.name}}</p>
              <img ng-cloak src="{{background.thumbnail}}">
            </li>
          </ul>
        </div>

        <div class="publicScenes">
          <h1>All Scenes</h1>
          <ul>
            <li class="sceneOption" ng-cloak ng-click="scenes.selectScene(scene)" ng-repeat="scene in scenes.publicScenes">
              <p ng-cloak>Name: {{scene.name}}</p>
              <img ng-cloak src="{{scene.thumbnail}}">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
