<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>

    <title>Multiboard</title>
  </head>

  <body ng-app='multiboard'>
    <header class="allHeader">
      <h1>Multiboard</h1>
      <nav>
        <button ui-sref="board.scenes">Scene Selector</button>
        <button ui-sref="board.draw">Drawing Board</button>
      </nav>
      <ul class="instructions">
        INSTRUCTIONS
        <li>Step 1: Choose a background and scene (or make your own!)</li>
        <li>Step 2: Draw backgrounds, obstacles, or characters</p>
        <li>Step 3: Save and publish to share your creation</li>
        <li>Step 4: Move your character with the arrow keys!</li>
      </ul>
    </header>

    <ui-view></ui-view>
  </body>
</html>
