<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>

    <title>Multiboard</title>
  </head>

  <body ng-app='multiboard'>
    <header class="drawHeader">
      <h1>This is the header</h1>
      <nav>
        <button ui-sref="board.login">Login Page</button>
        <button ui-sref="board.draw">Draw Page</button>
      </nav>
    </header>
    
    <ui-view></ui-view>
  </body>
</html>
